# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

      <div className='absolute inset-0 overflow-hidden md:overflow-visible'>
                <div className='hidden md:block'>
                <ShinyEffect left={100} top={200} size={1400}/>
                </div>
           
            <ShinyEffect left={-100} top={0} size={1200}/>
            </div>

<div className='absolute inset-0 '>
                <div className='hidden md:block'>
                <ShinyEffect left={100} top={0} size={900}/>
                </div>
           
            </div>